<launch>
<arg name="gui" default="False" />
<param name="robot_description" textfile="/home/dhruv/reachy_robot/src/reachy_description/urdf/reachy.urdf" />
<param name="use_gui" value="$(arg gui)"/>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="/home/dhruv/reachy_robot/src/reachy_description/myrobot.rviz" required="true" />
